<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Nombre del autor del Quiz:</h2> </p>
    <p>Mayalen Ruiz García</p> </p>

    <img src="https://scontent.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/10292550_623410357780814_1655215313402479751_n.jpg?oh=69f5cf4cafed4e830c16d460a4bec62d&oe=576F399E" height="150">
  </body>
</html>